/*



http://www.tooplate.com/view/2077-modern-town

*/

/* Body 
------------------------------------- */
div.relative {
    position: relative;
    width: 400px;
    height: 200px;
  
} 

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
   
}
body {
		background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
}

html,body {
      width: 100%;
     overflow-x: hidden;
  }

.post-masonry img {
    width: 100%;
    display: block;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-size: 10px;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  color: #323232;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

h3 {

  color: #ffa400;
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
}

h5 {
  color: #ffa400;
  line-height: 28px;
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
}



/* All Section styles
------------------------------------- */
div.im {
    margin: 20px 10 10 10;
}

div.transbox {
    margin: 100px;
    background-color:#C8C8C8  ;
	margin-top:-50px;
   width:500px;
   height:110px;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p {
    margin: 5%;
   margin-left:10px;
   
    color: #ffffff;
}
div.transbox h3 {
    margin: 5%;
   margin-left:10px;
    font-size:20px;
}
div.transboxar {
    margin: 100px;
    background-color:#C8C8C8  ;
	
   width:500px;
   height:110px;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transboxar p {
    margin: 1%;
   margin-left:180px;
    color: #ffffff;
	
}
div.transboxar h3 {
    margin: 5%;
   margin-right:-80px;
    margin-left:40px;
 font-size:25px;
}
div.transboxx {
    margin: 1px;
margin-top:-290px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:500px;
   height:300px;
    
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transboxx p {
    margin: 1%;
   margin-top:20px;
    color: #000000;
	font-size:15px;
}
div.transboxx h3 {
    margin: 1%;
   margin-top:20px;
   font-size:27px;
}

div.transboxxar h3 {
	font-size:25px;
    margin: -2%;
   margin-right:-10px;
   margin-left:250px;
 
}
div.transboxx h3 {
    margin: 1%;
    margin-top:-7px;
    
}
div.transboxxar {
    margin: 50px;
margin-top:-290px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:500px;
   height:300px;
    
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transboxxar p {
    margin: 1%;
    margin-left:220px;
    color: #000000;
	
}
div.transboxxartitle {
    margin: 50px;
margin-top:-70px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:505px;
   height:30px;
    
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transboxxartitle p {
    margin: -10%;
    margin-right:200px;
    color: #000000;
}
div.transboxxx{
    margin: 1000px;
margin-top:-475px;
margin-right:1110px;
margin-bottom:100px;
margin-left:685px;
    background-color:#ffffff  ;
   width:700px;
   height:120px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxx p {
    margin: -5%;
    margin-top:35px;
    color: #000000;
	margin-left:10px;
}
div.transboxxxar{
    margin: 1000px;
margin-top:-475px;
margin-right:1110px;
margin-bottom:100px;
margin-left:685px;
    background-color:#ffffff  ;
   width:700px;
   height:120px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxxar p {
    margin: -5%;
    margin-top:35px;
    color: #000000;
	margin-left:10px;
}
div.transboxxxar h3 {
    margin: 1%;
    margin-top:-60px;
    margin-left:1000px;
}
div.transboximage{
    margin: 100px;
margin-top:-260px;
margin-right:150px;
margin-bottom:100px;
margin-left:-140px;

   
   width:1500px;
   height:200px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transboxxx h3 {
    margin: 1%;
    margin-top:-60px;
    
}

div.transboxxi{
    margin: 750px;
margin-top:-70px;
margin-right:1100px;
margin-bottom:100px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:3000px;
   height:120px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxi p {
    margin: 100%;
   
    color: #000000;
}
div.transboxxii{
    margin: 1000px;
margin-top:-150px;
margin-right:1100px;
margin-bottom:100px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:3000px;
   height:0px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxii p {
    margin: 100%;
   
    color: #000000;
}
div.transboxxiii{
    margin: 1000px;
margin-top:-324px;
margin-right:1100px;
margin-bottom:100px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:3000px;
   height:0px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxiii p {
    margin: 100%;
   
    color: #000000;
}
div.transboxxxiii{
    margin: 1000px;
margin-top:-100px;
margin-right:1100px;
margin-bottom:100px;
margin-left:-5px;
    background-color:#ffffff  ;
   width:3000px;
   height:0px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxxiii p {
    margin: 100%;
   
    color: #000000;
}
div.transboxxxiiii{
    margin: 1000px;
margin-top:-1000px;
margin-right:1100px;
margin-bottom:100px;
margin-left:750px;
    background-color:#ffffff  ;
   width:3000px;
   height:0px;
    
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.transboxxxiiii p {
    margin: 100%;
   
    color: #000000;
}
#testimonial, #blog, #counter, #contact {
   	padding-top: 120px;
  	padding-bottom: 120px;
}

#about h3 {
	
  	padding-bottom: 12px;
}


.parallax-section {
	
  	background-attachment: fixed !important;
  	background-size: cover !important;
}


/* navigation styles
/* ========================================== */
.navbar-default {
	
    background:	#3b7895;
	
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
	float:left
	
  }
  #nav {
width:750px;
margin:0 auto;
list-style:none;

float:left;


display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
}
  .ameen{
	   text-align: center;
	  color: white;
  }
.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  
  }
.navbar-default li {
  margin: 15px 20px;
  
}
.navbar-default .navbar-nav li a {
    color: #ffffff;
    font-size: 12px;
    
    padding: 0px;
	  text-align: center;
	  margin-left:-900px;
	 
  }
.navbar-default .navbar-nav li a:hover {
    color: #ffa400;
	 
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffa400;
  background-color: transparent;
  
  
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 50px;
	 
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #ffa400;
    border-color: transparent;
	
	
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
  margin:0 30px 0 0;
  
}



/* home section styles
/* ========================================== */
   #titel {
      float:left;
      width:220px;
      height:100px;
      margin:0px 5px 5px;
      position:relative;
  }
  img
 { position:absolute;
   z-index:-1;
 }
 
  
#home {
	
  background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: 1000px;
  
  height: 100vh;
  text-align: left;
 
}

#home .btn-danger {
  background: #ffa400 !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: #ffc400 !important;
}

#home .btn {
  background: #ffffff;
  border-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
#home .btn:hover {
  background: #ffa400;
}


/* testimonial section styles
/* ========================================== */
#testimonial .item {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 62px;
}

#testimonial .item img {
  display: inline-block;
}

/* about section styles
/* ========================================== */
#about .container {
  	width: 100%;
  	padding: 0px;
  	margin: 0px;
}

#about .col-md-6 {
	
	padding: 0;
}

#about .about-des {
	
  	padding: 65px;
}

#about .about-des h3 {
	
	font-size: 26px;
}

#about .about-des h4 {
	
	font-size: 20px;
}

#about .about-des p {
	
	font-size: 16px;
	line-height: 32px;
}


/* blog section styles
/* ========================================== */
#blog h2, #blog h4 {
  text-align: center;
}

#blog h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#blog h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#blog p {
	 position: absolute; 
	padding-top: 10px;
	font-size: 14px;
	line-height: 28px;
}

#blog .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog .blog-wrapper h3 a {
  color: #ffffff;
}


/* Counter section styles
/* ========================================== */
#counter {
   background: url('../images/counter-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-number {
  color: #ffa400;
  font-size: 32px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
}


/* contact section styles
/* ========================================== */
#contact {
  background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#contact .form-control {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#contact input[type="submit"] {
  background: #000000;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: #ffa400;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#contact .contact-detail {
  background: rgba(250,250,250,0.75);
  padding: 34px 10px 34px 60px;
}

#contact .contact-detail h2 {
  padding-bottom: 28px;
}

#contact .contact-detail div {
  padding-bottom: 10px;
}


/* footer section styles
/* ========================================== */
footer {
		 background: url('../images/back.jpg') 50% 0 repeat-y fixed;

	  color: #ffffff;

  padding-top: 80px;
  padding-bottom: 50px;
}

footer p {
	  color: #ffffff;

	
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

footer a {
	
  color: #ffffff;
}

footer a:hover {
	
  color: #ffa400;
  text-decoration: none;
}

.link-list a {
	
  color: #ffffff;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-icon li{
	
  display: inline-block;
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.social-icon li{
	
  
      float: center;

}
.social-icon li a {
  background: #3c3c3c;
  border-radius: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-right: 2px;
 display: inline-block;
}
.social-icon li a:hover {
  background: #ffa400;
}



@media (max-width: 1280px) {
	#about .about-des {
		padding: 40px;
	}
	#about .about-des h3 {
		font-size: 20px;
	}
	
	#about .about-des h4 {
		font-size: 16px;
	}
	
	#about .about-des p {
		font-size: 13px;
		line-height: 24px;
	}
}
image {
	 background: url('../images/androidicon.png') 50% 0 repeat-y fixed;
}
/* mobile responsive section styles
/* ========================================== */
@media (max-width: 768px) {
  h1 {
    font-size: 53px;
  }
  #counter .counter-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #home h5 {
	  
    font-size: 11px;
  }
  #home .btn {
	  
    display: inline-block;
    padding: 14px 32px;
  }
}

@media (max-width: 375px) {
  h1 {
	  
    font-size: 24px;
    line-height: 34px;
  }
  #home h5 {
    font-size: 9px;
  }
}
